USE [master]
GO
/****** Object:  Database [MedTest_Final_R]    Script Date: 22.06.2024 1:17:06 ******/
CREATE DATABASE [MedTest_Final_R]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MedTest_Final_R', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MedTest_Final_R.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MedTest_Final_R_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MedTest_Final_R_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MedTest_Final_R].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MedTest_Final_R]
GO
/****** Object:  User [EmpOfReg]    Script Date: 22.06.2024 1:17:06 ******/
CREATE USER [EmpOfReg] FOR LOGIN [EmpOfReg] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Doctor]    Script Date: 22.06.2024 1:17:06 ******/
CREATE USER [Doctor] FOR LOGIN [Doctor] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Admin]    Script Date: 22.06.2024 1:17:06 ******/
CREATE USER [Admin] FOR LOGIN [Admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Schema [Doctors]    Script Date: 22.06.2024 1:17:06 ******/
CREATE SCHEMA [Doctors]
GO
/****** Object:  ColumnMasterKey [CMK_Auto1]    Script Date: 22.06.2024 1:17:06 ******/
CREATE COLUMN MASTER KEY [CMK_Auto1]
WITH
(
	KEY_STORE_PROVIDER_NAME = N'MSSQL_CERTIFICATE_STORE',
	KEY_PATH = N'CurrentUser/my/4010F57F7DA375FF33CEFF7F00912B30086B7D87'
)
GO
/****** Object:  ColumnEncryptionKey [CEK_Auto1]    Script Date: 22.06.2024 1:17:06 ******/
CREATE COLUMN ENCRYPTION KEY [CEK_Auto1]
WITH VALUES
(
	COLUMN_MASTER_KEY = [CMK_Auto1],
	ALGORITHM = 'RSA_OAEP',
	ENCRYPTED_VALUE = 0x016E000001630075007200720065006E00740075007300650072002F006D0079002F0034003000310030006600350037006600370064006100330037003500660066003300330063006500660066003700660030003000390031003200620033003000300038003600620037006400380037004E63822AE554B5BA21E36264C2D30F9F0E6FFCDFA2275B4B04B06909C01DFE98C4754E201B99DDCE6BAD1EBA682C40EE05336393F260792F6D338F769D799C24EE10D9EAB1A82166551198E8D3B0904A92F119270656242BE9773EC32785EDE00D8B40F443FED16E89DC2D154BB67205122896CE8311A52A88FCD5F31A5744615A8C782C9449407DBD55FAAE78D4A889385F65BF8661F7459D3E2AF5955B05BEA0068273AB1A5761D238BB60D9568E4DB32D6410E6F55C898C2F59FF2E6C4805A15AA3F45AE3A338F01DBBF801B507F5AE0A1BBC32C5A67F70EF893D9334CD3C9631FAD18753F3C084585F89721581564D795E63E2C2BD4F435C221683948C044DABF50DF1427A43F7717DDE427145617C3BCB9DCACB93789E325E8B23C8F2E5AF6258DE426D3B52C4BA29EC0F0DA8BB9698E55CD98F897775E98CFD141E9438BCB26C0C03C43ABF92DAA02149039C7F5C2531589677CE24A1BBD5610A12E29C2A6EB648EF9588D44162CBE8C63C3F2F6033C1FD1F55C6257D859B3AEB90B7DA1CA9BAD6B3D02A4BC5465B6CD3A17DAB00C8E3059F1ED64D1ACF7AC968E981C3351CCC7B9FA2C2036B99702F463CBBCE0DFFDF1FD2EB5F3462A9925D679762DD171048269A674D7C77B2F5C6FA466F0D50C079FEA8FA476976420085C62F61EB2D4910F1E3EF0C479EF8427370762A5BFDF17A89DDB6C8CFF0CDBF66045A7927
)
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 22.06.2024 1:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](50) NOT NULL,
	[Specification] [nvarchar](50) NOT NULL,
	[Otdel] [nvarchar](50) NOT NULL,
	[Birthday] [datetime] NOT NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeOfRegistration]    Script Date: 22.06.2024 1:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeOfRegistration](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](50) NOT NULL,
	[Birthday] [datetime] NOT NULL,
 CONSTRAINT [PK_EmployeeOfReg] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Information]    Script Date: 22.06.2024 1:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Information](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[FIO] [nvarchar](50) NOT NULL,
	[Gender] [int] NOT NULL,
	[DateRecive] [datetime] NOT NULL,
	[History] [nvarchar](50) NOT NULL,
	[Status] [nchar](10) NOT NULL,
	[Birthday] [datetime] NOT NULL,
 CONSTRAINT [PK_Information] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacients]    Script Date: 22.06.2024 1:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacients](
	[ID] [int] NOT NULL,
	[FIO] [nvarchar](50) NOT NULL,
	[Birthday] [datetime] NOT NULL,
 CONSTRAINT [PK_Pacients] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Raspis]    Script Date: 22.06.2024 1:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Raspis](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIODoc] [nvarchar](50) NOT NULL,
	[Room] [char](10) NOT NULL,
	[SpecDoc] [nvarchar](50) NOT NULL,
	[BEginOf] [datetime] NOT NULL,
	[EndOF] [datetime] NOT NULL,
 CONSTRAINT [PK_Raspis] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 22.06.2024 1:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](50) NOT NULL,
	[Status] [nchar](10) NOT NULL,
	[Doctor] [nvarchar](50) NOT NULL,
	[SpecDoc] [nvarchar](50) NOT NULL,
	[Room] [nchar](10) NOT NULL,
	[TypeOfTarget] [nvarchar](50) NOT NULL,
	[DateReg] [datetime] NOT NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 22.06.2024 1:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 22.06.2024 1:17:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([ID], [FIO], [Specification], [Otdel], [Birthday]) VALUES (1, N'Абаев А.В.', N'Стоматолог', N'Стоматология', CAST(N'1971-03-27T00:00:00.000' AS DateTime))
INSERT [dbo].[Doctors] ([ID], [FIO], [Specification], [Otdel], [Birthday]) VALUES (2, N'Исламов Б.Г.', N'Хирург', N'Хирургия', CAST(N'1972-05-04T00:00:00.000' AS DateTime))
INSERT [dbo].[Doctors] ([ID], [FIO], [Specification], [Otdel], [Birthday]) VALUES (4, N'Русанов П.В.', N'Лор', N'Лор отдел', CAST(N'1973-07-06T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeOfRegistration] ON 

INSERT [dbo].[EmployeeOfRegistration] ([ID], [FIO], [Birthday]) VALUES (1, N'Петрова А.А.', CAST(N'2000-02-12T00:00:00.000' AS DateTime))
INSERT [dbo].[EmployeeOfRegistration] ([ID], [FIO], [Birthday]) VALUES (3, N'Сидорова Н.Л.', CAST(N'1998-12-12T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[EmployeeOfRegistration] OFF
GO
SET IDENTITY_INSERT [dbo].[Information] ON 

INSERT [dbo].[Information] ([ID], [FIO], [Gender], [DateRecive], [History], [Status], [Birthday]) VALUES (1, N'Абаев А.В.', 1, CAST(N'2023-12-12T00:00:00.000' AS DateTime), N'Опухоль', N'В процессе', CAST(N'2000-05-28T00:00:00.000' AS DateTime))
INSERT [dbo].[Information] ([ID], [FIO], [Gender], [DateRecive], [History], [Status], [Birthday]) VALUES (5, N'Дмитров Н.А.', 1, CAST(N'2023-12-11T00:00:00.000' AS DateTime), N'ОРВ', N'В процесе ', CAST(N'1999-06-19T00:00:00.000' AS DateTime))
INSERT [dbo].[Information] ([ID], [FIO], [Gender], [DateRecive], [History], [Status], [Birthday]) VALUES (6, N'Лебедев Л.А.', 1, CAST(N'2023-12-10T00:00:00.000' AS DateTime), N'ОРЗ', N'В процесе ', CAST(N'1998-09-09T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Information] OFF
GO
INSERT [dbo].[Pacients] ([ID], [FIO], [Birthday]) VALUES (1, N'Абаев А.В.', CAST(N'1999-02-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Pacients] ([ID], [FIO], [Birthday]) VALUES (2, N'Сидоров Д.П.', CAST(N'1999-04-05T00:00:00.000' AS DateTime))
INSERT [dbo].[Pacients] ([ID], [FIO], [Birthday]) VALUES (3, N'Алёхин Д.Б.', CAST(N'1998-09-09T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Raspis] ON 

INSERT [dbo].[Raspis] ([ID], [FIODoc], [Room], [SpecDoc], [BEginOf], [EndOF]) VALUES (1, N'Абаев А.В.', N'101       ', N'Стоматолог', CAST(N'2024-06-03T10:00:00.000' AS DateTime), CAST(N'2024-06-03T18:00:00.000' AS DateTime))
INSERT [dbo].[Raspis] ([ID], [FIODoc], [Room], [SpecDoc], [BEginOf], [EndOF]) VALUES (3, N'Русанов П.В.', N'105       ', N'Лор', CAST(N'2024-06-13T08:00:00.000' AS DateTime), CAST(N'2024-06-13T15:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Raspis] OFF
GO
SET IDENTITY_INSERT [dbo].[Registration] ON 

INSERT [dbo].[Registration] ([ID], [FIO], [Status], [Doctor], [SpecDoc], [Room], [TypeOfTarget], [DateReg]) VALUES (1, N'Абаев А.В.', N'выписан   ', N'Абдихад', N'хирург', N'205       ', N'анальные боли', CAST(N'2024-05-25T12:00:00.000' AS DateTime))
INSERT [dbo].[Registration] ([ID], [FIO], [Status], [Doctor], [SpecDoc], [Room], [TypeOfTarget], [DateReg]) VALUES (2, N'Рахметова С.С.', N'Выписан   ', N'Сашко Л.Н.', N'Лор', N'102       ', N'Боль в пояснице', CAST(N'2024-08-14T10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Registration] OFF
GO
INSERT [dbo].[Role] ([ID], [Title]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([ID], [Title]) VALUES (2, N'User')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Login], [Password], [RoleID]) VALUES (1, N'e3afed0047b08059d0fada10f400c1e5', N'698d51a19d8a121ce581499d7b701668', 1)
INSERT [dbo].[User] ([ID], [Login], [Password], [RoleID]) VALUES (2, N'8f9bfe9d1345237cb3b2b205864da075', N'bcbe3365e6ac95ea2c0343a2395834dd', 2)
INSERT [dbo].[User] ([ID], [Login], [Password], [RoleID]) VALUES (3, N'0a914ca359365c263653767e97d07ca2', N'81dc9bdb52d04dc20036dbd8313ed055', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
